 .jumbotron {
        height: 400px;
        background: url("/static/img/tron_title.png") no-repeat top;
    }


    .jumbotron .buttons {
        padding-left: 45%;
        padding-right: 45%;
        padding-top: 10%;
    }

    .jumbotron .btn-primary{

        background-color: cyan;
        border-color: cyan;
        color: black;
    }

    .jumbotron .btn-primary:hover{
    background-color: #009999;
    border: #009999;
    color: white;
}


 .bg{
     background: url("/static/img/tron_background.png") no-repeat fixed bottom;
     background-size: cover;
     background-color: black;
 }


