td {
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.container {
    padding-top: 1%;
}

table {
    border: 1px solid black;
}

.jumbotron {
    background: white;
}

