{% extends "tron_app/base.html" %}
{% load my_tags %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tron.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prepare_game.css' %}">
{% endblock css_block %}

{% block body_block %}
    <div class="loader"></div>
    <div class="container" align="center">
        <h3 id="titleHeader">{{ matrix.result }}</h3>
        <div class="jumbotron">
            <table class="myTable" align="center">
                <div class="divTable">
                    {% for cell in matrix.cell_set.all %}
                        {% if forloop.counter|modulo:matrix.cols == 1 %}
                            <tr>
                        {% endif %}
                        {% if cell.val == 0 %}
                            <td></td>
                        {% endif %}
                        {% if cell.val == 1 %}
                            <td class="blue"></td>
                        {% endif %}
                        {% if cell.val == 2 %}
                            <td class="red"></td>
                        {% endif %}
                        {% if cell.val == 9 %}
                            <td class="black"></td>
                        {% endif %}
                    {% endfor %}
                </div>
            </table>
        </div>
        <div class="buttons">
            <button type="button" class="runBots btn btn-primary btn-lg">Run Bots</button>
            <button type="button" class="cleanBtn btn btn-primary btn-lg">Reset</button>
        </div>
    </div>
{% endblock body_block %}

{% block script %}
    <script>
        var mytime = 100;
        var buttons = $("button")
        var result = $("#titleHeader").text()

        function changeButtonsDisabledState(setBoolean) {
            buttons.attr('disabled', setBoolean)
        }

        function getLastCells() {
            $.ajax({
                type: "GET",
                url: "{% url "tron_app:lastCells" %}",
                success: function (data) {
                    my_data = data.models_to_return;
                    grab_result = data.result
                    if (grab_result != result) {
                        result = grab_result
                        $("#titleHeader").text(result)
                    }
                    for (i = 0; i < my_data.length; i++) {
                        var cell = my_data[i];
                        if (cell.val == 1) {
                            $("tr").eq(cell.row).find("td").eq(cell.col).css("background", "blue");
                        } else if (cell.val == 2) {
                            $("tr").eq(cell.row).find("td").eq(cell.col).css("background", "red");
                        } else if (cell.val == 9) {
                            $("tr").eq(cell.row).find("td").eq(cell.col).css("background", "black");
                        } else {
                            $("tr").eq(cell.row).find("td").eq(cell.col).css("background", "white");
                        }
                    }
                }
            })
        }



        function clean() {
            $(".container").hide()
            $(".loader").css('visibility', 'visible')
            {#clearInterval(myInterval)#}
            $.ajax(
                {
                    url: '{% url "tron_app:clean" %}',
                    success: function (data) {
                        $(".jumbotron").load({% url "tron_app:tron" %} +" .myTable");
                        $("#titleHeader").text("Click run to start simulation");
                        result = "Click run to start simulation"
                        {#myInterval = setInterval(getLastCells, mytime);#}
                        $(".loader").css('visibility', 'hidden')
                        $(".container").show()
                    }
                }
            )
        }

        function run() {
            if(result != "Click run to start simulation"){
                clean()
            }
            var myInterval = setInterval(getLastCells, mytime);
            changeButtonsDisabledState(true)
            $.ajax(
                {
                    url: '{% url "tron_app:runSimulation" %}',
                    success: function (data) {
                        changeButtonsDisabledState(false)
                        clearInterval(myInterval);
                    }
                }
            )
        }

        $(".cleanBtn").click(clean)

        $(".runBots").click(run)

    </script>
{% endblock script %}


